body { 
    background: url(image/bg1.jpg) no-repeat center center fixed;  /*background image*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: white !important;
}

.range-total-cases {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    color: inherit;
    font-weight: bold;
}

/* .details-container{
    background-color: aqua !important;
} */

.card-body{
    background-color: black;
}

select{
    color: white;
    background-color: black;
}