body { 
    background: url(image/bg.jpg) no-repeat center center fixed;  /*background image*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Roboto, sans-serif !important;
    color: white !important;
}

.card-header, .btn{
    font-weight: bold !important;
}

.card-header {
    background-color: darkgrey !important;
    
}
.text-center {
    font-weight: normal;
} 

.label-total-cases{
    margin-top: 50px;
    text-align: center;
    font-weight: normal;
}
.range-total-cases {
    text-align: center;
    font-size: 50px;
    color: inherit;
    font-weight: bold;
}

/* .details-container{
    background-color: aqua !important;
} */

.card-body{
    background-color: black;
}

select{
    color: white;
    background-color: black;
}

